@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class= "login">
    <div>
        <form action="/adduser" method = "post">
        <div class="form-group">
            <h2>Register</h2>
                <label for="FName">First Name</label>
                    <input asp-for="FName" class="form-control">
                    <span asp-validation-for="FName" class="text-danger"></span>
                <label for="LName">Last Name</label>
                    <input asp-for="LName" class="form-control">
                    <span asp-validation-for="LName" class="text-danger"></span>
                <label for="ZipCode">Zip Code</label>
                    <input asp-for="ZipCode" class="form-control">
                <label for="Email">Email</label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                <label for="Password">Password</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                <label for="Confirm">Confirm Password</label>
                    <input asp-for="Confirm" class="form-control">
                    <span asp-validation-for="Confirm" class="text-danger"></span>
                <input type="submit" class="btn btn-success" name="" id="">
        </form>
        </div>
    </div>
    <div >
        <h2>Login</h2>
        <partial name ="_Login"/>
    </div>
</div>